{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card p-4">
            <h3 class="text-center mb-3">Tizimga kirish</h3>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-main w-100 mt-3">Kirish</button>
            </form>

            <!-- Register link -->
            <div class="text-center mt-3">
                <small>Hali akkauntingiz yo'qmi? 
                    <a href="{% url 'blogs:register' %}" class="text-primary">Ro'yxatdan o'ting</a>
                </small>
            </div>

        </div>

    </div>
</div>
{% endblock %}
